body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: black;
    color: white;
}

html {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-rows: 20px auto 152px;
    grid-template-columns: 28px auto auto 28px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    background-color: #3DE07E;
    height: 608px;
    padding: 0;
    margin: 0;
}

aside {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 28px;
    height: 20px;
}

header img {
    grid-column: 2 / span 2;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
}

aside img {
    max-height: 100%;
    position: absolute;
    top: 32px;
    left: 32px;
    width: 28px;
    height: 20px;
}

header h1 {
    grid-column: 2 / span 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    text-wrap: nowrap;
}

.wrapper {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 312px;
    margin-top: 104px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /*justify-content: space-between;*/
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
}

.card img {
    max-width: 100%;
}

.card h2 {
    font-size: 34px;
}

.card p {
    margin-top: 0;
}

.big-card {
    background-color: white;
    margin-top: 104px;
    width: 484px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /*justify-content: space-between;*/
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    color: #222222;

}

.big-card img {
    max-width: 100%;
}

.big-card h2 {
    font-size: 34px;
}

.big-card p {
    margin-bottom: 36px;
    margin-top: 0;
}

figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.big-card section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 16px;
}

.button {
    background-color: #E83F57;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    justify-self: end;
    margin-top: auto;
    width: 50%;
    height: 30px;
    font-size: 12px;
    font-family: "Fira Sans", sans-serif;
}

.big-card .button {
    padding: 16px 24px;
    height: 50px;
    font-size: 14px;
}

footer {
    height: 320px;
    width: 100%;
    margin-top: 104px;
    background-color: #222222;
    font-family: "Fira Sans", sans-serif;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:visited {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: lightgray;
    text-decoration: none;
}

.footer-links {
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-links h2 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 0;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    margin-bottom: 5px;
}

.footer-links article p {
    margin: 0;
    margin-bottom: 5px;
}

.icons {
    display: flex;
    justify-content: space-between;
}